.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-label {
  display: flex;
  justify-content: space-around;
  width: 63%;
  margin: 1em;
}

.form-row {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
.btn-container > button {
  margin: 0 0.5em;
}

.landing_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fulcrum_land {
  margin: 4% auto 2%;
  width: 40%;
}

.vector_land {
  width: 40%;
  margin-bottom: 2%;
}

.button_hold {
  display: flex;
  justify-content: center;
}

.button_hold > button {
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0.75%;
  width: 15%;
}
.login_button {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  line-height: 2.5em;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: white;
  border-radius: 6px;

  color: #000000;
}

.register_button {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  line-height: 2.5em;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #2d9cdb;
  border-radius: 6px;

  color: #ffffff;
}

.view_grid_dimensions_container {
  width: 55%;
  /* display: grid; */
}

.view_grid_dimensions_container > h1 {
  text-align: center;
}
.point-info-container {
  display: flex;
}
.point_select_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view_grid_labels {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.taxi_cab_distance_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
